In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot as plt

In [3]:
data = pd.read_csv('cleaned_with_salaries.csv')
data.head()

,leaname,meanschooladministratorsalaryind,administratortoteachermeansalary,meanteachersalaryindollars,school,leatype,gradrate,act21,act22,english21,...,grade_12_2022,female_2022_p,male_2022_p,white_2022_p,economicallydisadvantaged_2022_p,englishlearner_2022_p,studentwithadisability_2022_p,homeless_2022_p,charter,district
0,Academy for Math Engineering & Science,109484.500,1.841987,59438.262,Academy for Math Engineering & Science,Charter,0.966,22.900000,24.100000,22.000000,...,114,0.453390,0.546610,0.552966,0.226695,0.010593,0.063559,0.002119,1,0
1,Alpine District,101256.750,1.842194,54965.301,Skyridge High School,District,0.925,20.600000,21.100000,19.500000,...,747,0.489553,0.510447,0.822204,0.102417,0.014748,0.070053,0.000819,0,1
2,American Leadership Academy,80850.000,1.626248,49715.680,American Leadership Academy,Charter,0.954,19.500000,18.799999,17.600000,...,127,0.498780,0.501220,0.628659,0.337805,0.093902,0.136585,0.021951,1,0
3,American Preparatory Academy,47881.059,1.063834,45008.000,American Preparatory Academy - Draper #3,Charter,0.911,20.500000,22.100000,19.299999,...,51,0.460705,0.539295,0.449865,0.222222,0.178862,0.127371,0.000000,1,0
4,Beaver District,98450.328,1.582758,62201.762,Milford High,District,0.900,16.799999,16.299999,15.900000,...,35,0.486111,0.513889,0.736111,0.384259,0.050926,0.101852,0.000000,0,1

In [8]:
X = data.drop(['leaname', 'school'], axis=1)
X = pd.get_dummies(X, drop_first=True)
X.columns

Index(['meanschooladministratorsalaryind', 'administratortoteachermeansalary',
       'meanteachersalaryindollars', 'gradrate', 'act21', 'act22', 'english21',
       'english22', 'math21', 'math22', 'reading21', 'reading22', 'science21',
       'science22', 'log_students', 'students_11_12', 'attendance21',
       'attendance22', 'attendance_2022_minority_p', 'americanindian_2022_p',
       'afamblack_2022_p', 'asian_2022_p', 'hispanic_2022_p',
       'multiplerace_2022_p', 'pacificislander_2022_p', 'cohortyear',
       'schoolid_y', 'totalk12_2022', 'grade_9_2022', 'grade_10_2022',
       'grade_11_2022', 'grade_12_2022', 'female_2022_p', 'male_2022_p',
       'white_2022_p', 'economicallydisadvantaged_2022_p',
       'englishlearner_2022_p', 'studentwithadisability_2022_p',
       'homeless_2022_p', 'charter', 'district', 'leatype_District'],
      dtype='object')

In [9]:
data1 = pd.read_csv('trimmed_data.csv')
data1.columns

Index(['school', 'act21', 'act22', 'english21', 'english22', 'math21',
       'math22', 'reading21', 'reading22', 'science21', 'science22',
       'attendance21', 'attendance22', 'schoolid_y', 'totalk12_2022',
       'grade_9_2022', 'grade_10_2022', 'grade_11_2022', 'grade_12_2022',
       'female_2022_p', 'male_2022_p', 'americanindian_2022_p',
       'afamblack_2022_p', 'asian_2022_p', 'hispanic_2022_p',
       'multiplerace_2022_p', 'pacificislander_2022_p', 'white_2022_p',
       'economicallydisadvantaged_2022_p', 'englishlearner_2022_p',
       'studentwithadisability_2022_p', 'homeless_2022_p'],
      dtype='object')