In [1]:
import numpy as np
import pandas as pd

## Cleaning the Graduation Rates Data:

In [5]:
data = pd.read_excel('Data/GraduationRatesStudentGroup2022.xlsx',sheet_name="School")

data.head()
mask_all = data["Group"] == "All Students"

df_all = data[mask_all]
df_all= df_all[["Cohort Year","LEA Type","LEA Name","School Name","Group Cohort Count", "Group Cohort Grad Rate Masked"]]
df_all.head()

,Cohort Year,LEA Type,LEA Name,School Name,Group Cohort Count,Group Cohort Grad Rate Masked
0,2022,Charter,Academy for Math Engineering & Science,Academy for Math Engineering & Science,116.0,0.966
13,2022,Charter,American Academy of Innovation,American Academy of Innovation,55.0,0.891
26,2022,Charter,American International School of Utah,American International School of Utah,10.0,< 20%
39,2022,Charter,American Leadership Academy,American Leadership Academy,130.0,0.954
52,2022,Charter,American Preparatory Academy,American Preparatory Academy - Accelerated School,78.0,>= 95%

In [57]:
df_all = df_all[df_all["Group Cohort Grad Rate Masked"] != "n< 10"]
df_all["Grad Rate"] = df_all["Group Cohort Grad Rate Masked"].str.extract(r'(\d+)-*', expand=False).astype(float)
df_all["Grad Rate"].loc[df_all["Grad Rate"].isnull()] = df_all["Group Cohort Grad Rate Masked"].loc[df_all["Grad Rate"].isnull()].astype(float)
df_all["Grad Rate"].loc[df_all["Grad Rate"] > 1] = df_all["Grad Rate"].loc[df_all["Grad Rate"] > 1]/100
df_all.loc[df_all["LEA Type"] != "Charter"].head(20)

df_all[["Cohort Year","LEA Type","LEA Name", "School Name", "Grad Rate"]].to_csv("GradRates.csv")

/tmp/ipykernel_720/1653041638.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all["Grad Rate"].loc[df_all["Grad Rate"].isnull()] = df_all["Group Cohort Grad Rate Masked"].loc[df_all["Grad Rate"].isnull()].astype(float)
/tmp/ipykernel_720/1653041638.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all["Grad Rate"].loc[df_all["Grad Rate"] > 1] = df_all["Grad Rate"].loc[df_all["Grad Rate"] > 1]/100