In [4]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LassoCV
from sklearn.metrics import mean_squared_error
from statsmodels.api import add_constant

In [8]:
print(columns)
full_dataset

Index(['school', 'act21', 'act22', 'english21', 'english22', 'math21',
       'math22', 'reading21', 'reading22', 'science21', 'science22',
       'attendance21', 'attendance22', 'schoolid_y', 'totalk12_2022',
       'grade_9_2022', 'grade_10_2022', 'grade_11_2022', 'grade_12_2022',
       'female_2022_p', 'male_2022_p', 'americanindian_2022_p',
       'afamblack_2022_p', 'asian_2022_p', 'hispanic_2022_p',
       'multiplerace_2022_p', 'pacificislander_2022_p', 'white_2022_p',
       'economicallydisadvantaged_2022_p', 'englishlearner_2022_p',
       'studentwithadisability_2022_p', 'homeless_2022_p'],
      dtype='object')

,school,act21,act22,english21,english22,math21,math22,reading21,reading22,science21,...,afamblack_2022_p,asian_2022_p,hispanic_2022_p,multiplerace_2022_p,pacificislander_2022_p,white_2022_p,economicallydisadvantaged_2022_p,englishlearner_2022_p,studentwithadisability_2022_p,homeless_2022_p
0,Academy for Math Engineering & Science,22.900000,24.100000,22.000000,23.299999,22.299999,24.500000,23.299999,23.900000,23.400000,...,0.031780,0.120763,0.169492,0.050847,0.057203,0.552966,0.226695,0.010593,0.063559,0.002119
1,Alta High,20.200001,20.799999,18.900000,19.700001,19.500000,19.900000,21.500000,22.299999,20.299999,...,0.010960,0.024551,0.118369,0.041648,0.011399,0.790881,0.167032,0.031127,0.085489,0.032880
2,Altamont High,18.100000,19.000000,16.799999,16.799999,18.799999,19.000000,18.299999,19.600000,18.100000,...,0.004049,0.000000,0.048583,0.016194,0.000000,0.923077,0.283401,0.020243,0.149798,0.008097
3,American Fork High,20.299999,20.700001,19.500000,19.799999,19.500000,19.700001,21.100000,22.000000,20.500000,...,0.004040,0.008081,0.090101,0.038384,0.010505,0.845657,0.112727,0.010101,0.071111,0.000808
4,American Leadership Academy,19.500000,18.799999,17.600000,17.799999,19.799999,19.200001,20.400000,19.000000,19.700001,...,0.012805,0.007927,0.320732,0.027439,0.000610,0.628659,0.337805,0.093902,0.136585,0.021951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,West High,19.200001,19.700001,18.200001,19.000000,18.600000,18.799999,20.000000,20.299999,19.500000,...,0.049498,0.068850,0.453294,0.043543,0.066245,0.303312,0.497209,0.170822,0.109044,0.018980
129,Westlake High,19.799999,20.299999,18.299999,18.200001,20.000000,20.200001,20.200001,21.700001,20.299999,...,0.008682,0.007893,0.101815,0.050118,0.009077,0.820047,0.107735,0.014996,0.087609,0.000395
130,Whitehorse High,14.600000,15.500000,12.200000,13.200000,15.300000,16.000000,14.800000,15.500000,15.400000,...,0.000000,0.000000,0.014134,0.000000,0.000000,0.007067,1.000000,0.600707,0.226148,0.127208
131,Winter Sports School,22.900000,20.600000,21.900000,18.799999,22.000000,20.900000,23.500000,20.299999,23.400000,...,0.000000,0.009009,0.027027,0.018018,0.000000,0.945946,0.000000,0.000000,0.027027,0.000000
132,Youth Educational Support School,12.700000,13.000000,10.000000,11.500000,14.300000,14.000000,12.700000,13.000000,13.300000,...,0.121212,0.030303,0.333333,0.060606,0.030303,0.393939,0.242424,0.121212,0.424242,0.000000

In [12]:
#Read in Dataset
full_dataset = pd.read_csv('trimmed_data.csv')
columns = full_dataset.columns
to_drop = columns[1:11]
X = full_dataset.drop(columns=to_drop)
y = full_dataset['act22']

print(X.columns)
# #Do L1 regularization with sklearn
# reg_lasso = LassoCV(alphas=np.logspace(-4, 3, 8))
# reg_lasso.fit(X, y,sample_weight=full_dataset['totalk12_2022']) # Fit the model
# lasso_pred = reg_lasso.predict(X) # Best parameter values
# MSE_lasso = mean_squared_error(y,lasso_pred)
# params = reg_lasso.coef_
# zero_index = params==0
# not_selected_features_lasso = np.array(columns)[zero_index]
# selected_features_lasso = np.array(columns)[~zero_index]

# print(f'Selected features Lasso: {selected_features_lasso}')
# print(f'Unselected features Lasso: {not_selected_features_lasso}')
# print(f"Best MSE Lasso: {MSE_lasso}")
# print("\n\n")
X

Index(['school', 'attendance21', 'attendance22', 'schoolid_y', 'totalk12_2022',
       'grade_9_2022', 'grade_10_2022', 'grade_11_2022', 'grade_12_2022',
       'female_2022_p', 'male_2022_p', 'americanindian_2022_p',
       'afamblack_2022_p', 'asian_2022_p', 'hispanic_2022_p',
       'multiplerace_2022_p', 'pacificislander_2022_p', 'white_2022_p',
       'economicallydisadvantaged_2022_p', 'englishlearner_2022_p',
       'studentwithadisability_2022_p', 'homeless_2022_p'],
      dtype='object')

,school,attendance21,attendance22,schoolid_y,totalk12_2022,grade_9_2022,grade_10_2022,grade_11_2022,grade_12_2022,female_2022_p,...,afamblack_2022_p,asian_2022_p,hispanic_2022_p,multiplerace_2022_p,pacificislander_2022_p,white_2022_p,economicallydisadvantaged_2022_p,englishlearner_2022_p,studentwithadisability_2022_p,homeless_2022_p
0,Academy for Math Engineering & Science,0.9652,0.9422,110575.0,472,129,115,114,114,0.453390,...,0.031780,0.120763,0.169492,0.050847,0.057203,0.552966,0.226695,0.010593,0.063559,0.002119
1,Alta High,0.9363,0.9199,733.0,2281,591,594,564,532,0.481806,...,0.010960,0.024551,0.118369,0.041648,0.011399,0.790881,0.167032,0.031127,0.085489,0.032880
2,Altamont High,0.9485,0.9294,434.0,247,39,38,36,40,0.514170,...,0.004049,0.000000,0.048583,0.016194,0.000000,0.923077,0.283401,0.020243,0.149798,0.008097
3,American Fork High,0.9432,0.9089,180.0,2475,75,795,819,786,0.487273,...,0.004040,0.008081,0.090101,0.038384,0.010505,0.845657,0.112727,0.010101,0.071111,0.000808
4,American Leadership Academy,0.9397,0.9171,165615.0,1640,137,143,114,127,0.498780,...,0.012805,0.007927,0.320732,0.027439,0.000610,0.628659,0.337805,0.093902,0.136585,0.021951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,West High,0.9331,0.8849,1157.0,2687,656,645,657,585,0.490882,...,0.049498,0.068850,0.453294,0.043543,0.066245,0.303312,0.497209,0.170822,0.109044,0.018980
129,Westlake High,0.9257,0.9314,186032.0,2534,68,907,795,764,0.507893,...,0.008682,0.007893,0.101815,0.050118,0.009077,0.820047,0.107735,0.014996,0.087609,0.000395
130,Whitehorse High,0.9836,0.8939,895.0,283,37,48,42,42,0.395760,...,0.000000,0.000000,0.014134,0.000000,0.000000,0.007067,1.000000,0.600707,0.226148,0.127208
131,Winter Sports School,0.9453,0.9357,186313.0,111,29,28,27,27,0.414414,...,0.000000,0.009009,0.027027,0.018018,0.000000,0.945946,0.000000,0.000000,0.027027,0.000000
132,Youth Educational Support School,0.9176,0.9860,186180.0,33,1,8,7,7,0.181818,...,0.121212,0.030303,0.333333,0.060606,0.030303,0.393939,0.242424,0.121212,0.424242,0.000000