In [1]:
import numpy as np
import pandas as pd

In [49]:
#Read in data
class_size_22 = pd.read_excel('2022MedianClassSize.xlsx',sheet_name='Classes Dataset Oct SY2022')
class_size_23 = pd.read_excel('2023MedianClassSize.xlsx',sheet_name='Classes Dataset Oct SY2023')
class_size_22 = class_size_22.drop(['CourseSection', 'SubjectArea'], axis=1)

# Eliminate all the classes that are not in secondary school
class_size_22 = class_size_22[class_size_22['GradeSpan'] != 'Elementary']

class_size_22

,SchoolYear,DistrictID,CompositeSchoolID,TermCycleClassPeriod,LocalEducationAgency,School,LEAType,GradeSpan,CourseCategory,CoreCode,ClassSize,IsDualImmersion
133,2022,122,122130582425,S1A01,Alpine District,Willowcreek Middle,District,Secondary,Language Arts 8,6020000033,30,0
134,2022,122,122130582425,S1A01,Alpine District,Willowcreek Middle,District,Secondary,Math 8,7080000080,39,0
135,2022,122,122130582425,S1A01,Alpine District,Willowcreek Middle,District,Secondary,Earth Science,8040000010,38,0
136,2022,122,122130582425,S1A01,Alpine District,Willowcreek Middle,District,Secondary,Science 8,8050000010,22,0
137,2022,122,122130582425,S1A01,Alpine District,Willowcreek Middle,District,Secondary,Math 7,7080000070,36,0
...,...,...,...,...,...,...,...,...,...,...,...,...
41291,2022,186490,186490186491700,S1108,Real Salt Lake Academy High School,Real Salt Lake Academy High School,Charter,Secondary,Language Arts 10,6020000055,10,0
41292,2022,186490,186490186491700,S1108,Real Salt Lake Academy High School,Real Salt Lake Academy High School,Charter,Secondary,Physics,8060000020,13,0
41293,2022,186490,186490186491700,S1108,Real Salt Lake Academy High School,Real Salt Lake Academy High School,Charter,Secondary,Biology,8020000010,25,0
41294,2022,186490,186490186491700,S1108,Real Salt Lake Academy High School,Real Salt Lake Academy High School,Charter,Secondary,Language Arts 9,6020000040,15,0
41295,2022,186490,186490186491700,S1108,Real Salt Lake Academy High School,Real Salt Lake Academy High School,Charter,Secondary,Chemistry,8030000010,22,0

In [52]:
# Group by school
class_size_22_grouped = class_size_22[['SchoolYear', 'DistrictID', 'CompositeSchoolID', 'LocalEducationAgency', 'School', 'LEAType', 'ClassSize']].groupby(['SchoolYear', 'DistrictID', 'CompositeSchoolID', 'LocalEducationAgency', 'School', 'LEAType']).mean()


# merged_df_22
class_size_22_grouped

class_size_22_grouped.to_csv('2022MedianClassSize_clean.csv')

In [51]:
# Eliminate all the classes that are not in secondary school
class_size_23 = class_size_23[class_size_23['GradeSpan'] != 'Elementary']

# Group by school
class_size_23_grouped = class_size_23[['SchoolYear', 'DistrictID', 'CompositeSchoolID', 'LocalEducationAgency', 'School', 'LEAType', 'ClassSize']].groupby(['SchoolYear', 'DistrictID', 'CompositeSchoolID', 'LocalEducationAgency', 'School', 'LEAType']).mean()


# merged_df_22
class_size_23_grouped

class_size_23_grouped.to_csv('2023MedianClassSize_clean.csv')